body {
  margin: 0;
}

#screenshotButton {
  margin: 5px;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  display: inline-flex; /* Ensures button content stays aligned */
  justify-content: center; /* Centers the SVG inside the button */
  align-items: center; /* Centers the SVG vertically */
  overflow: hidden; /* Prevents the SVG from overflowing the button */
}

svg {
  width: 100%; /* Makes the SVG scale to fill the button */
  height: 100%; /* Ensures the SVG takes up the full button height */
}


#container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#control {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
}
